*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__
.74sw-catalog

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/.idea/
/temp/
*/.idea/*
.env
azure_env
azure_wsl
output_dir

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
